body { 
    background-image:url('./SimpleGhostGif.gif'); 
    background-repeat:repeat; 
    background-size: cover;
}

.TestCenter {
    display: flex;
    justify-content: space-between;
 }

.MainTitleText {
    text-align: center;
    font-size: 37px;
}

.MainTitleText h1 {
    text-align: center;
}

.ProfilePageMainTitle {
    font-size: 30px;
}

.ProfilePageSecondaryText {
    font-size: 15px;
}

.CenterTextPassword {
    text-align: center;
    font-size: 30px;
}

.SecondaryTitleText {
    text-align: center;
    font-size: 15px;

}

.flex-container {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    
   
}

.flex-container2 {
    display: flex;
    justify-content: space-around;
}

.flex-container3 {
    display: flex;
    justify-content: space-evenly;
    padding-right: 140px;
}

.container {
    display: flex;
    justify-content: space-a;
    padding-left: 600px;
}

.flex-50Test {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    padding-left: 270px;
}

.spaceheader {
    padding-top: 20px;
}

.buttoncolor {
    background-color: rgb(108, 206, 219);
}


/*.ProjectText {
    text-align: left;
}

.SchoolText {
    text-align: center;
}

.InfoText {
    text-align: right;
}
*/

.TopicText {
    font-size: 29px;
}

.HeaderStyle {
    background-color: rgb(136, 196, 219);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}

.butonThing {

    width:fit-content;
}